In [1]:
import numpy as np
import pandas as pd
import re

In [40]:
with open('dim_customer.sql') as f:
    lines = f.readlines()
    f.seek(0)

In [41]:
a = open("sample.txt",mode='r')

In [42]:
lines

['{{\n',
 '  config(\n',
 "    materialized = 'table',\n",
 '    tags=["dim_customers","customer_objects"]\n',
 '    )\n',
 '}}\n',
 '\n',
 '\n',
 'with\n',
 '\n',
 " account as ( select * from {{ ref('dim_sfdc_account') }}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\n",
 '\n',
 '  ),\n',
 '  \n',
 ' final as (\n',
 '\n',
 '    select * from account\n',
 '    \n',
 ' )\n',
 '\n',
 'select * from account\n']

In [43]:
for count, i in enumerate(lines):
    for cnt, j in enumerate(i):
        cnt=cnt+1
    if cnt>100:
        print("Lines of SQL should be no longer than ~100 characters. Please use new line.\nLine no. {}\n{}".format(cnt,i))

Lines of SQL should be no longer than ~100 characters. Please use new line.
Line no. 140
 account as ( select * from {{ ref('dim_sfdc_account') }}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa